# .gitignore
#
# Copyright (c) 2009, 2011-2014 Horst H. von Brand
# Bajo licencia MIT. Vea LICENSE-MIT para detalles

*.pdf

*.aux
*.bbl
*.blg
*.dvi
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.loa
*.lof
*.log
*.lol
*.lot
*.out
*.toc

*.fdb_latexmk

CLASS-VERSION-FILE
abstracts.tex
class-version.tex
*.tar.gz

_region_.*

*.eps
*.jpg
*.png
*.svg

*.xml
*.html

*.fig.bak
*.tex.bak
*.tex.new
*.tex.orig

auto
_region_.tex

\#*\#
.\#*
*~

DEADJOE
