# .mailmap
#
# Copyright (c) 2010 Horst H. von Brand
# Bajo licencia MIT. Vea LICENSE-MIT para detalles

Arnaldo Garat		<agarat@alumnos.inf.utfsm.cl>
Eugenio Canales		<ecanales@alumnos.inf.utfsm.cl>
Franco Castro		<fcastro@alumnos.inf.utfsm.cl>
Horst H. von Brand	<vonbrand@inf.utfsm.cl>
Natalia Ruz		<nruz@alumnos.inf.utfsm.cl>
Paulina Silva		<pasilva@alumnos.inf.utfsm.cl>
Rodrigo Verdugo		<rverdugo@alumnos.inf.utfsm.cl>
